<!DOCTYPE html>
<html lang="en">
  <%- include('header', {title: `Sightings`}); -%>

  <body>
    <%- include('navbar'); -%>
    <div class="container-fluid bg-black vh-100">
      <div class="row bg-black d-flex mh-100 h-100 w-100 mw-100 bg-image ">
        <div class="col-12 text-white text-center d-flex flex-column h-sm-80">
          <div>
            <br />
            <br />
            <h1 class="mt-5 display-3 mb-4 align-items-center">
              Welcome UFO Watchers
            </h1>
          </div>
          <div>
            <p class="fw-light fs-6">Currently: <%= visits %> UFO Watchers</p>
          </div>
          <div>
            <a class="btn btn-lg btn-info" href="/sighting/all" role="button"
              >See all Sightings</a
            >
          </div>
        </div>
      </div>
    </div>

    <%- include('footer'); -%>
  </body>
</html>
